/*
---
name: Drupal
tag:
  - exceptions
  - drupal
category:
  - exceptions
  - exceptions/drupal
sourcePath: /exceptions/_drupal.scss
---

All the special drupal-specific styles.
*/

// stylelint-disable
@import "drupal/drupal-forms";
@import "drupal/drupal-tabs";

.paragraph {
    margin: $cevi-line-size 0;
}

pre {
    background: white;
    font-size: 10px;
    font-family: 'Arial';
    text-transform: none;
    font-weight: normal;
}
