# Deployment
deploy
grish.json
db_dumps/*
log/*
phpunit.xml.dist

# Credentials
settings/settings.*.php

# Frontend
node_modules
cevi-themes/cevi/assets-old
cevi-themes/cevi/assets

# PhpStorm
.idea

# Mac OS
.DS_Store
