{#
  /**
   * @file
   * Theme implementation for the map of swisstopo
   *
   * Available variables:
   * - x: The Swiss Grid X value.
   * - y: The Swiss Grid Y value.
   *
   * @ingroup themeable
   */
#}

<div class="swisstopo-map"
     data-swisstopo-marker="{{ marker }}"
     data-swisstopo-zoom="{{ zoom }}"
     data-swisstopo-x="{{ x }}"
     data-swisstopo-y="{{ y }}"></div>
