<div class="ie-blocker">
    <div class="content">
        <p class="h4">Herzlich willkommen beim {{ site_name }}</p>
        <p>
            Diese Seite kann in deinem Browser nicht angezeigt werden, da dein Browser moderne Funktionen nicht unterstützt. Sehr wahrscheinlich ist er veraltet und hat schon länger kein Update mehr erhalten.
        </p>
        <p>
            Bitte verwende zu deiner eigenen Sicherheit einen modernen Browser, zum Beispiel <a target="_blank" href="https://www.google.com/chrome/">Google Chrome</a> oder <a href="https://www.mozilla.org/de/firefox/" target="_blank">Mozilla Firefox</a>.
        </p>
    </div>
</div>